@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in CarDealer App!</h1>
    
    <ul class="navbar-nav flex-grow-1 center">
        <li class="nav-item col">
            <a class="btn btn-secondary btn-lg active" asp-area="" asp-controller="Cars" asp-action="Index">All cars</a>
            <a class="btn btn-secondary btn-lg active" asp-area="" asp-controller="Cars" asp-action="Create">Add new car</a>
        </li>
                        
    </ul>
</div>
